*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    width: 100%;
}

body{
    display: grid;
    margin: auto;
}

.cell{
    user-select: none;
}

.black{
    background-color: black;
}

/* .cell:hover{
    background-color: black;
} */